/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2018, 4:45:37 PM
    Author     : giovanipaganini
*/

/* Habilite para debug de Tabela */

/* table, th, td {
    border: 1px solid black;
} */

body {
    color: #111;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    display: flex;
    margin: auto;
    padding: 40px;
    background: #eee;
}

table {
    width: 800px;
    box-shadow: 2px 1px 5px #ccc;
    margin-top: 10px;
    margin-bottom: 5px;    
}

.tableForm {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 0;
}

/*.tableForm tr {
    text-align: center;
}*/

#telaMenu {
    text-align: center;
}

.tableResult {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding: 2px;    
}

.tableResult td {
    border-bottom: 1px solid #eee;
    border-block-start: none;
    border-right: 1px solid #eee;
    padding: 2px;
}

.tableHeader{
    background-color: lightgreen;
    color: darkgreen;    
    border: 1px solid #darkgreen;    
    text-align: left;
    padding: 2px;
}


input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;   
}

#sessao {
    margin: auto;
    max-width: 800px;
}

.btn {
    float: right;
    padding: 5px;
    font-size: 10pt;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnGravar {    
    background-color: #33cc33;
    color: white;
    border: 1px solid green;
}

.btnLimpar {
    background-color: #ffcc00;
    color: white;
    border: 1px solid orange;    
}

.btnMenu {
    font-size: 12pt;
    border-style: solid;
    border-width: 1px;
    padding: 2em;
    float: none;
}

.btnMenuNeutro {    
    background-color: dodgerblue;
    color: white;
    border-color: blue;
}

.btnMenuPositivo {
    background-color: limegreen;
    color: white;
    border-color: green;    
}

.btnMenuDanger {    
    background-color: orangered;
    color: white;
    border-color: red;    
}

.btnMenuWarning {
    background-color: orange;
    color: white;
    border-color: darkorange;
}